<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://eskipaper.com/images/background-3.jpg);">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container flex-center">
      <div class="row pt-5 mt-3 w-100">
       
            
  

<div class="container mt-5">
  <div class="jumbotron bg-secondry">
    <h1 class="display-4">Kali Akademi</h1>
    <p class="lead">Yazılım ve Tasarım Hakkında Her Şey!</p>
    <hr class="my-4">
    <p>ŞİMDİ KENDİNİZİ GELİŞTİRİN!</p>
  </div>
  <div class="row">
    <div class="col-md-4 alert alert-success" role="alert"><h4>CINEMA4D</h4>Cinema 4D, alışılmış kullanım arayüzlerinden farklı olarak işlevsel ve basit bir kullanıcı paneline sahip olması ile dikkatleri üzerine çekmiştir. Özellikle After Effects ile etkileşimli çalışabilmesi, animasyon çalışmalarınızda hızlı bir iş akışına sahip olmanıza imkan tanımaktadır. Navras Akademi’de alacağınız Cinema 4D Sektörel Kullanım Alanları Eğitimi ile, modelleme ve animasyon çalışmalarında sizlere nasıl ürünler vereceğine, detaylı seviyede hakim olacaksınız. Çalışmalarımız; sınıf ortamında örgün eğitim veya online Cinema 4D kursu olarak verilmektedir.</div>
    <div class="col-md-4 alert alert-primary" role="alert"><h4>HTML5</h4>Bu eğitim sayesinde HTML5 ve CSS3 teknolojilerini öğrenecek ve kendinizi bu teknolojiler hakkında daha da ilerletebilir hale geleceksiniz. Sıfırdan HTML5 ve CSS3 öğrenmek isteyen herkesi kursa bekliyorum. Bu kurs ile HTML5 ve CSS3 ile alakalı çoğu konuya ücretsiz erişim sağlayabileceksiniz. Derslerde görüşürüz. Kaan Academy gururla sunar. Aklınıza takılan soruları bana özel mesaj ile bildirebilirsiniz.</div>
    <div class="col-md-4 alert alert-danger"><h4>PHOTOSHOP</h4>Yeni Başlayanlar İçin Adobe Photoshop Temel Tasarım Eğitimi kursundaki videoları izleyerek sıfırdan Photoshop kullanımı öğrenerek grafik çizimleri,  fotoğraf düzenlemeleri ve yazı yazı yazma işlemleri ile  fotoğrafçılık, web ve grafik tasarım için yeteneklerinizi geliştirebilirsiniz.

      Kurs içeriğindeki diğer eğitim setlerini olan ; Adobe Dreamweaver,  Adobe Fireworks, Adobe Flash progamları üzerinden video eğitimler ile kendi başınıza uygulamalar yapma yeteneği kazanabilirsiniz.</div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/c4d.jpg" class="img-fluid rounded">
    </div>
    <div class="col-md-4">
      <img src="assets/html5-intro.jpg" class="img-fluid rounded">
    </div>
    <div class="col-md-4">
      <img src="assets/ps.jpg" class="img-fluid rounded" >
    
    </div>
  </div>
  <footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="jumbotron bg alert alert-primary">

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">ŞİMDİ KATIL</h5>
        </li>
        <li class="list-inline-item">
          <a href="login" mdbBtn color="white" outline="true" rounded="true" class="waves-light" mdbWavesEffect>Üye OL!</a>
        </li>
      </ul>
     
    </div>
  
 

  
