<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">  
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Eğitmen No</th>
          <th>Adı Soyadı</th>
          <th>E-posta</th>
          <th>Yaş</th>
          
        </tr>
         </thead>
         <tbody>
        <tr>
          <td>76</td>
          <td>Badiye Yiğit</td>
          <td>id@ultrices.gh</td>
          <td>22</td>
        </tr>
        <tr>
          <td>62</td>
          <td>İsrac Tutuş</td>
          <td>imperdiet@Curabitur.ug</td>
          <td>23</td>
        </tr>
        <tr>
          <td>30</td>
          <td>Tunçkurt Özduman</td>
          <td>Sed@Fusce.mx</td>
          <td>28</td>
        </tr>
        <tr>
          <td>68</td>
          <td>Çağnur Özgür</td>
          <td>accumsan@massa.bw</td>
          <td>26</td>
        </tr>
        <tr>
          <td>44</td>
          <td>Sündüs Şekerci</td>
          <td>ac@venenatis.no</td>
          <td>20</td>
        </tr>
        <tr>
          <td>89</td>
          <td>Akmaner Günerhan</td>
          <td>dolor@ac.sb</td>
          <td>20</td>
        </tr>
        <tr>
          <td>84</td>
          <td>Sadriye Altın</td>
          <td>a@varius.ax</td>
          <td>21</td>
        </tr>
        <tr>
          <td>52</td>
          <td>Sibel Teşdoğ</td>
          <td>metus@Fusce.ms</td>
          <td>22</td>
        </tr>
        <tr>
          <td>52</td>
          <td>Nurtane Mol</td>
          <td>imperdiet@mattis.ch</td>
          <td>26</td>
        </tr>
        <tr>
          <td>32</td>
          <td>Sıdar Bilgili</td>
          <td>laoreet@vitae.lc</td>
          <td>25</td>
        </tr>
        <tr>
          <td>58</td>
          <td>Durcan Tulgar</td>
          <td>Cras@ipsum.na</td>
          <td>30</td>
        </tr>
        <tr>
          <td>17</td>
          <td>Töre Nacar</td>
          <td>dignissim@tincidunt.sj</td>
          <td>22</td>
        </tr>
        <tr>
          <td>36</td>
          <td>Sebil Öğünç sürücü</td>
          <td>sed@tempor.je</td>
          <td>24</td>
        </tr>
        <tr>
          <td>99</td>
          <td>Beşareddin Aydın gelir</td>
          <td>consectetur@velit.li</td>
          <td>24</td>
        </tr>
        <tr>
          <td>33</td>
          <td>Öncübay Karatiken</td>
          <td>in@ac.mil</td>
          <td>24</td>
        </tr>
        <tr>
      </tbody> 
        </table>    

    </div>
    <div class="col-md-6">  
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Eğitmen No</th>
          <th>Adı Soyadı</th>
          <th>E-posta</th>
          <th>Yaş</th>
          
        </tr>
         </thead>
         <tbody>
        <tr>
          <td>76</td>
          <td>Badiye Yiğit</td>
          <td>id@ultrices.gh</td>
          <td>22</td>
        </tr>
        <tr>
          <td>62</td>
          <td>İsrac Tutuş</td>
          <td>imperdiet@Curabitur.ug</td>
          <td>23</td>
        </tr>
        <tr>
          <td>30</td>
          <td>Tunçkurt Özduman</td>
          <td>Sed@Fusce.mx</td>
          <td>28</td>
        </tr>
        <tr>
          <td>68</td>
          <td>Çağnur Özgür</td>
          <td>accumsan@massa.bw</td>
          <td>26</td>
        </tr>
        <tr>
          <td>44</td>
          <td>Sündüs Şekerci</td>
          <td>ac@venenatis.no</td>
          <td>20</td>
        </tr>
        <tr>
          <td>89</td>
          <td>Akmaner Günerhan</td>
          <td>dolor@ac.sb</td>
          <td>20</td>
        </tr>
        <tr>
          <td>84</td>
          <td>Sadriye Altın</td>
          <td>a@varius.ax</td>
          <td>21</td>
        </tr>
        <tr>
          <td>52</td>
          <td>Sibel Teşdoğ</td>
          <td>metus@Fusce.ms</td>
          <td>22</td>
        </tr>
        <tr>
          <td>52</td>
          <td>Nurtane Mol</td>
          <td>imperdiet@mattis.ch</td>
          <td>26</td>
        </tr>
        <tr>
          <td>32</td>
          <td>Sıdar Bilgili</td>
          <td>laoreet@vitae.lc</td>
          <td>25</td>
        </tr>
        <tr>
          <td>58</td>
          <td>Durcan Tulgar</td>
          <td>Cras@ipsum.na</td>
          <td>30</td>
        </tr>
        <tr>
          <td>17</td>
          <td>Töre Nacar</td>
          <td>dignissim@tincidunt.sj</td>
          <td>22</td>
        </tr>
        <tr>
          <td>36</td>
          <td>Sebil Öğünç sürücü</td>
          <td>sed@tempor.je</td>
          <td>24</td>
        </tr>
        <tr>
          <td>99</td>
          <td>Beşareddin Aydın gelir</td>
          <td>consectetur@velit.li</td>
          <td>24</td>
        </tr>
        <tr>
          <td>33</td>
          <td>Öncübay Karatiken</td>
          <td>in@ac.mil</td>
          <td>24</td>
        </tr>
        <tr>
      </tbody> 
        </table>    

    </div>
  </div>
</div>